.how-it-works {
  background: #ffffff;
}
.how-it-works .steps {
  position: relative;
}
.how-it-works .steps .icon {
  height: 128px;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  text-align: center;
}
.how-it-works .steps .title {
  margin: 16px 0 4px;
}
.how-it-works .steps .text {
  margin-bottom: 32px;
}
.how-it-works .steps .forward {
  position: absolute;
  top: 6%;
  right: -12%;
  font-size: 36px;
  color: var(--green);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
@media (max-width: 992px) {
  .how-it-works .steps {
    position: relative;
  }
  .how-it-works .steps .icon {
    text-align: center;
  }
  .how-it-works .steps .title {
    margin: 16px 0 4px;
  }
  .how-it-works .steps .text {
    margin-bottom: 32px;
  }
  .how-it-works .steps .forward {
    display: none;
  }
}
